* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #000;
    color: #fff;
}

.monthly-grid {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 30px;
}

.collapsible-header {
    cursor: pointer;
    user-select: none;
    font-weight: 500;
}

.collapsible-body {
    margin-top: 10px;
}

#event-list li,
#task-list li {
    margin-bottom: 8px;
    font-weight: 400;
}

.date {
    color: #ffffff;
}

.task-period {
    color: #ffffff;
    font-size: 13px;
}

.task-text {
    color: #e774ff;
    font-weight: 400;
}

.muted {
    color: #888;
}

@media (max-width: 768px) {
    .monthly-grid {
        grid-template-columns: 1fr;
    }

    .collapsible-body {
        display: none;
    }
}
