body {
    background:#000;
    font-family: "Inter", "Poppins", sans-serif;
    color:#ccc;
}

.monthly-grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    padding:30px;
}

.section-title {
    font-weight:500;
    color:#fff;
    margin-bottom:10px;
}

ul {
    list-style:none;
    padding:0;
}

li {
    font-size:14px;
    line-height:1.6;
    margin-bottom:8px;
}

.task-text {
    color:#e774ff;
}

.task-date {
    color:#aaa;
}

.countdown {
    margin-left:10px;
    color:#ffd700;
}

.empty {
    color:#666;
}
